@import './base.css';

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

:root {
  --primary-color: #0c4a6e;
  --primary-color-dark: #082f49;
  --primary-color-light: #075985;
  --secondary-color: #5b21b6;
  --secondary-color-dark: #1e1b4b;
  --secondary-color-light: #4338ca;

  --yellow-color: #facc15;

  --font-color-dark: #333;
}

body {
  background-color: var(--primary-color);
  color: white;
}

button {
  border: 1px solid var(--secondary-color-dark);
  background-color: var(--secondary-color);
  padding: 1rem;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

button:hover:not(:disabled) {
  background-color: var(--secondary-color-light);
}

button:disabled {
  opacity: 0.5;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  input[type="radio"] {
    margin-right: 0.5rem;
  }
  input {
    padding: 0.5rem;
    border: 0;
    border-radius: 4px;
  }
  span {
    margin-bottom: 0.5rem
  }
  span {
    display: block;
    margin-right: 1rem;
  }
  input: {
    display: block;
  }
}

.w-100 {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

main .card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--primary-color-dark);
}

table {
  margin-top: 2rem;
  width: 100%;
  border: 1px solid var(--primary-color);
  border-spacing: 0;
  thead {
      background-color: var(--primary-color);
      tr {
          th {
              text-align: left;
              padding: 1rem;
          }
      }
  }
  tbody {
      tr {
          td {
              padding: 1rem;
          }
      }
  }
}